# Retail Transactions - Statistical Analysis
## Dataset Description :
* Customer Information:

    * CustomerID: A unique identifier for each customer. This allows you to track customer behavior across multiple transactions.
* Transaction Details:

    * ProductID: A unique identifier for each product sold. This allows you to analyze product-specific trends.

    * Quantity: The number of units of each product purchased in a single transaction.

    * Price: The unit price of each product.

    * TransactionDate: The date and potentially time of each transaction. This allows for analysis of temporal trends like seasonality.

    * PaymentMethod: The method used by the customer to pay for the transaction (e.g., credit card, debit card, cash). This can be useful for understanding customer preferences and optimizing payment options.
    StoreLocation: The location of the store where the transaction took place (e.g., city, branch). This allows for analysis of location-specific trends.

* Product Information:

    * ProductCategory: The category the product belongs to (e.g., clothing, electronics, furniture). This facilitates product grouping and analysis by category.

* Promotional Information:

    * DiscountApplied(%): The percentage discount applied to the transaction, if any. This allows you to assess the impact of promotions and discounts.

* Financial Information:

    * TotalAmount: The total amount paid for the transaction, considering any discounts applied. This is a crucial metric for revenue analysis.

## Data Exploration

In [1]:
setwd('data/')

In [2]:
data <- read.csv("Retail_Transaction_Dataset.csv")
head(data)

  CustomerID ProductID Quantity Price    TransactionDate  PaymentMethod
1 109318     C         7        80.07984 12/26/2023 12:32 Cash
2 993229     C         4        75.19523 8/5/2023 0:00    Cash
3 579675     A         8        31.52882 3/11/2024 18:51  Cash
4 799826     D         5        98.88022 10/27/2023 22:00 PayPal
5 121413     A         7        93.18851 12/22/2023 11:38 Cash
6 463050     D         3        54.09315 8/15/2023 4:24   Cash
  StoreLocation                                        ProductCategory
1 176 Andrew Cliffs\nBaileyfort, HI 93354              Books
2 11635 William Well Suite 809\nEast Kara, MT 19483    Home Decor
3 910 Mendez Ville Suite 909\nPort Lauraland, MO 99563 Books
4 87522 Sharon Corners Suite 500\nLake Tammy, MO 76234 Books
5 0070 Michelle Island Suite 143\nHoland, VA 80142     Electronics
6 8492 Jonathan Drive\nNorth Robertshire, TN 67532     Electronics
  DiscountApplied... TotalAmount
1 18.677100          455.8628
2 14.121365          258.3065
3 15.943701          212.0157
4  6.686337          461.3438
5  4.030096          626.0305
6 10.888768          144.6092

**Types of the columns**

In [3]:
str(data)

'data.frame':	100000 obs. of  10 variables:
 $ CustomerID        : int  109318 993229 579675 799826 121413 463050 888163 843385 839609 184135 ...
 $ ProductID         : chr  "C" "C" "A" "D" ...
 $ Quantity          : int  7 4 8 5 7 3 7 8 5 4 ...
 $ Price             : num  80.1 75.2 31.5 98.9 93.2 ...
 $ TransactionDate   : chr  "12/26/2023 12:32" "8/5/2023 0:00" "3/11/2024 18:51" "10/27/2023 22:00" ...
 $ PaymentMethod     : chr  "Cash" "Cash" "Cash" "PayPal" ...
 $ StoreLocation     : chr  "176 Andrew Cliffs\nBaileyfort, HI 93354" "11635 William Well Suite 809\nEast Kara, MT 19483" "910 Mendez Ville Suite 909\nPort Lauraland, MO 99563" "87522 Sharon Corners Suite 500\nLake Tammy, MO 76234" ...
 $ ProductCategory   : chr  "Books" "Home Decor" "Books" "Books" ...
 $ DiscountApplied...: num  18.68 14.12 15.94 6.69 4.03 ...
 $ TotalAmount       : num  456 258 212 461 626 ...

We have only one column with a false type which is $TransactionDate.

Let's fix it.

In [4]:
class(data$TransactionDate)

[1] "character"

In [5]:
data$TransactionDate <- as.Date(data$TransactionDate, format = "%d/%m/%Y %H:%M")

In [6]:
class(data$TransactionDate)

[1] "Date"

**Basic Descriptive Statistics**

In [7]:
summary(data)

   CustomerID      ProductID            Quantity         Price
 Min.   :    14   Length:100000      Min.   :1.000   Min.   : 10.00
 1st Qu.:250694   Class :character   1st Qu.:3.000   1st Qu.: 32.55
 Median :499679   Mode  :character   Median :5.000   Median : 55.12
 Mean   :500464                      Mean   :5.009   Mean   : 55.07
 3rd Qu.:751105                      3rd Qu.:7.000   3rd Qu.: 77.46
 Max.   :999997                      Max.   :9.000   Max.   :100.00

 TransactionDate      PaymentMethod      StoreLocation      ProductCategory
 Min.   :2023-01-05   Length:100000      Length:100000      Length:100000
 1st Qu.:2023-05-08   Class :character   Class :character   Class :character
 Median :2023-09-12   Mode  :character   Mode  :character   Mode  :character
 Mean   :2023-10-19
 3rd Qu.:2024-03-04
 Max.   :2024-12-04
 NA's   :60439
 DiscountApplied...   TotalAmount
 Min.   : 0.000046   Min.   :  8.275
 1st Qu.: 5.001013   1st Qu.: 95.163
 Median :10.030353   Median :200.368
 Mean   :10.020155   Mean   :248.335
 3rd Qu.:15.018367   3rd Qu.:362.010
 Max.   :19.999585   Max.   :896.141

Now , we explored our data briefly and cleaned a bit .

Let's dive into analysis .

## Exploratory Data Analysis (EDA)